<!DOCTYPE html>
<html lang="pt-BR">

<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>
            <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;
                                           background-color: rgba(12, 12, 240, 0.226);">

               <h1><%= pergunta.titulo %> </h1>
               <p><%= pergunta.descricao %> </p>
                <hr>
                <form action="/responder" method="post">
                    <textarea style="width: 100vh;" name="corpo" id="" cols="30" rows="10" class="form-control" placeholder="Digita a resposta"></textarea>
                    <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                    <button style="margin-top: 20px; margin-bottom: 10px;" type="submit" class="btn btn-primary">Responder</button>
                </form>
                <hr>
                <h3>Respostas</h3>
                <hr>
                <% for( let index = 0; index < respostas.length; index++ ) { %>
                   <div class="card">
                       <div class="card-body">
                           <p><%= respostas[index].corpo %> </p>
                       </div>
                   </div>
                <% } %>
            </div>



    </body>
    <%- include ('partials/footer.ejs') %>








</html>